<div class="container" >
    <%= form_for ([@article, @article.comments.build]) do |form|%>
        <p>
            <%= form.text_field :commenter, placeholder:"Name"%>
        </p>
        <p>
            <%= form.text_field :body, placeholder:"Comment here"%>
        </p>
        <p >
            <%= form.submit class: "btn btn-info btn-sm"%>
        </p
    <%end%>
</div>