<%= link_to("Go to Article list", articles_path, class: "btn btn-info btn-sm")%>
<br/><br/>
<div class="jumbotron", style="padding-top:20px;">
<h3>Add New Article...</h3>
<%= render "form", article: @article%>
</div>